<table bgcolor="black">
 <tr>
    <th style="background-color: tan"> Sport</th>
    <th style="background-color: tan"> Males</th>
    <th style="background-color: tan"> Fameles</th>
    <th style="background-color: tan"> Total Person</th>
  </tr>
  <tr>
    <th style="background-color: darkorange"> Futbol</th>
    <td style="background-color: silver"> 29</td>
    <td style="background-color: silver"> 15</td>
    <td style="background-color: green"> 44</td>
  </tr>
  <tr>
    <th style="background-color: darkorange"> Tennis</th>
    <td style="background-color: silver"> 10</td>
    <td style="background-color: silver"> 11</td>
    <td style="background-color: green"> 21</td>
 </tr>
 <tr>
    <th style="background-color: darkorange"> Basketbol</th>
    <td style="background-color: silver"> 14</td>
    <td style="background-color: silver"> 14</td>
    <td style="background-color: green"> 28</td>
 </tr>
</table>