<html lang="en">
<head>
   <title>School Time Table</title>
</head>
<body bgcolor="darkgray">
{% extends 'base.html' %}

{% block context %}
 <H1 align="center">
        <FONT COLOR="BLUE">SCHOOL TIME TABLE</FONT>
 </H1>

<table border="5" cellspacing="10" align="center">

<tr bgcolor="green">
  <td align="center">Days/Time
  <td>8:30-9:15
  <td>9:15-10:00
  <td>10:00-11:45
  <td>11:45-12:30
  <td>01:15-02:00
  <td>02:45-03:30
</tr>

{%for kun, value in context.items%}
<tr bgcolor="#00ffbf">
    <td align="center" bgcolor="#00ff40">{{kun}}
        {% for dars in value%}
        <td align="center">{{dars}}
        {%endfor%}
</tr>
{%endfor%}

    {% endblock context %}

 </body>
</html>